@model IEnumerable<Lilya.Models.Author>

@{
    ViewData["Title"] = "Authors List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.FullName</td>
            </tr>
        }
    </tbody>
</table>

<a href="/Authors/Create">Add New Author</a>
